@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&family=Sorts+Mill+Goudy:ital@1&display=swap');

* {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    max-width: 1240px;
    /*16ya bol rem olsun*/
    /* height: 1036px; */
    background-color: rgba(red, green, blue, 0.3);
    margin: auto;
    margin-top: 30px;
}

body {
    background-image: url(./img/bgBLue.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Sorts Mill Goudy', serif;
}

#title {
    font-size: 3.1rem;
    color: white;
    letter-spacing: 0.05em;
    font-family: 'Rubik Microbe', cursive;
}

span {
    color: rgb(232, 49, 49);
}

.description {
    font-family: 'Sorts Mill Goudy', serif;
}

#header {
    text-align: center;
}

textarea {
    resize: none
}

#survey-form-container {
    border: 2px solid rgb(26, 255, 0);
    background: rgba(0, 0, 0, 0.8);
    padding: 30px 40px;
    padding: 1px;
    /*margin collapsing*/
}

#name,
#lname,
#age,
#email,
#dropdown,
#feedback {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    /*space between label and input*/
}

/* 
input box is already 100%(block)
 */
.input-box {
    border: 2px solid red;
    margin-top: 10px;
    /*space between each of the inputboxes*/
}

#checkbox,
#radio {
    margin-top: 40px;
}

#form-button {
    /*text-align-center should be given to its container to center it. its function is to center the objects in it.*/
    width: 160px;
    height: 45px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50px;
    /*
    text-align-center : refers to the text in it.
    margin-auto won't work, buttons not "block element". It should be put into the container.
    */
}

.form-submit {
    /*container of form-button(block) | to center it, it is necessary to reduce its width and give margin-auto.*/
    border: 2px solid blue;
    width: 160px;
    /*so margin auto now works; applies where a fixed width exists. */
    /*width makes "text align center" unusable. its width is already its own. it cannot be centered cos it remains 100% within this width.*/
    margin: auto;
    /*actually centered the container (button's container); but since it is bound to the container the content(button) follows the container so it is centered.*/


    /* text-align: center; //passive cos of width*/
}

background-image {
    filter: hue-rotate(.5turn)
        /* :180deg rotation */
        saturate(800%) contrast(300%);
    ;
}